# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Release/cl.command.1.tlog
Release/CL.read.1.tlog
Release/CL.write.1.tlog
Release/GLWindow.obj
Release/link.command.1.tlog
Release/link.read.1.tlog
Release/link.write.1.tlog
Release/link-cvtres.read.1.tlog
Release/link-cvtres.write.1.tlog
Release/link-rc.read.1.tlog
Release/link-rc.write.1.tlog
Release/Logger.obj
Release/OpenGL.obj
Release/Scene.obj
Release/scyforgetest.exe
Release/ScyforgeTest.lastbuildstate
Release/ScyforgeTest.log
Release/ScyforgeTest.obj
Release/scyforgetest.pch
Release/scyforgetest.pdb
Release/ShapeGenerator.obj
Release/stdafx.obj
Release/TextureLoader.obj
Release/vc110.pdb
ScyforgeTest.v11.suo
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/GLWindow.obj
Debug/link.2148.read.1.tlog
Debug/link.2148.write.1.tlog
Debug/link.2148-cvtres.read.1.tlog
Debug/link.2148-cvtres.write.1.tlog
Debug/link.2148-rc.read.1.tlog
Debug/link.2148-rc.write.1.tlog
Debug/link.5392.read.1.tlog
Debug/link.5392.write.1.tlog
Debug/link.5392-cvtres.read.1.tlog
Debug/link.5392-cvtres.write.1.tlog
Debug/link.5392-rc.read.1.tlog
Debug/link.5392-rc.write.1.tlog
Debug/link.command.1.tlog
Debug/link.read.1.tlog
Debug/link.write.1.tlog
Debug/Logger.obj
Debug/OpenGL.obj
Debug/Scene.obj
Debug/scyforgetest.exe
Debug/scyforgetest.ilk
Debug/ScyforgeTest.lastbuildstate
Debug/ScyforgeTest.log
Debug/ScyforgeTest.obj
Debug/scyforgetest.pch
Debug/scyforgetest.pdb
Debug/ShapeGenerator.obj
Debug/stdafx.obj
Debug/TextureLoader.obj
Debug/vc110.idb
Debug/vc110.pdb
ScyforgeTest.opensdf
